@import "variables";

* {
  margin: 0;
  padding: 0;
}

#navbar .content {
  padding: 30px 0;
  max-width: 1270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 120px;
    padding-left: 30px;
  }

  .btn-light {
    margin-right: 30px;
  }

  @include respond-to("tablet") {
    padding: 60px 0;
    .logo {
      width: 200px;
    }
  }
}
